// Mixins style
// Created on : 24 avr. 2014, 14:43:53
// Author     : Hamdi Afrit hamdieaf@gmail.com


@mixin transition($what: all, $length: 1s, $easing: ease-in-out) {
    -moz-transition:    $what $length $easing;
    -o-transition:      $what $length $easing;
    -webkit-transition: $what $length $easing;
    -ms-transition:     $what $length $easing;
    transition:         $what $length $easing;

}

