// Import scss Files

/* 
    Common devices style
    Created on : 23 avr. 2014, 12:33:53
    Author     : Hamdi Afrit
*/

.font-familly{
    font-family: cursive;
}

.common{
    opacity: 1;
    transition: all 0.5s linear;
}

.imgstyle{
    float: left;
    width: 33%;
    padding: 5px;
    text-align: center;
}

body {
    @extend .font-familly;
    padding-top: 50px;
    padding-bottom: 20px;    
    background-image: url(../img/bg_body.jpg); 
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
    -moz-background-size: 100% 100%;     /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: 100% 100%;        /* Opera 9.5 */
    -webkit-background-size: 100% 100%;   /* Safari 3.0 */
    background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) > CSS3 */
}

h1{
    @extend .font-familly;
    font-weight: bold;
}

img{
    max-width:100%;
    height:auto;
}

blockquote {
    font-size: 0.7em;
    padding: 5px 10px;
    margin: 0 0 2em 2em;
    border-left: 5px solid #eee;
}

.navbar{
    background: none center center #3e6d94;    
    box-shadow: 0px 2px 14px;
    border: none;
}

.navbar-inverse {
    background-color: #3e6d94; 
    border-radius: inherit;
    border-color: inherit;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.wrapper{
    margin: 0 auto;
}

.collapse {
    display: none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: inherit;
}

.navbar-default .navbar-toggle:hover{
    background-color: #ddd;
}

.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.jumbotron{
    background-color: #FFF;
    box-shadow: 0px 2px 14px;
    margin: 0 auto;
    transition: all 1s linear;
    padding: 30px;
    
    h1{
        font-size: 2.0em;
    }
}//. jumbotron

.nav{
    li a{
        opacity: 0.5;
    }

    li a:hover{
        @extend .common;
        color: #FFF;
    }

    li a.active{
        opacity: 1;
        color: #FFF;
    }

    li a span{
        color: #dfdfdf;
    }

    li a:hover span,
    li a.active span{
        color: #FFF;
    }
}// .nav

.container{
    header{
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .portrait{
        display: block;
        top: 0;
        text-decoration: none;
        float: right;
    }

    .line{
        left: 0;
        top: 52.5%;
        font-size: 1.0em;
        letter-spacing: -0.015em;
        margin-top: 0;
        display: block;
        margin: 0.5em 0 0 0;
    }

    .line a{
        text-decoration: none;
    }
}// .container

.touch{
    @extend .imgstyle;
}

#footer{    
    width: 100%;
    margin: 10px 0;

    ul.copyright{
        margin: 0 auto;
        max-width: 80%;
        text-align: center;
    }

    ul.copyright li{
        font-family: sans-serif;
        display: inline;
        color: #BBB;
    }

    ul.copyright li:before {
        content: '\2022';
        opacity: 0.5;
        padding: 0 0.75em 0 0.75em;
    }

    ul.copyright li a{
        color: #FFF;
        opacity: 0.5;
        text-decoration: underline;
    }

    ul.copyright li a:hover{
        @extend .common;
    }
}

#contact, #portfolio {
    a:hover{
        text-decoration: none;
        cursor: pointer;
    }
}

// Desktop style
@import "desktop";

// Mobile style
@import "mobile";